[Desktop Entry]
Name[es]=Botellas
Name=Bottles
Comment[es]=Ejecute software de Windows
Comment=Run Windows Software
Icon=com.usebottles.bottles
Exec=/usr/bin/flatpak run --branch=stable --arch=x86_64 --command=bottles --file-forwarding com.usebottles.bottles @@u %u @@
Terminal=false
Type=Application
Categories=Utility;GNOME;GTK;
StartupNotify=true
StartupWMClass=bottles
MimeType=x-scheme-handler/bottles;application/x-ms-dos-executable;application/x-msi;application/x-ms-shortcut;application/x-wine-extension-msp;
Keywords[es]=wine;windows;
Keywords=wine;windows;
X-GNOME-UsesNotifications=true
X-Flatpak=com.usebottles.bottles
X-XFCE-Source=file:///home/am/.local/share/flatpak/app/com.usebottles.bottles/x86_64/stable/ba8aaeebfa31af3b3bcd01376f583d630c015d5cb09678b691a545d794972927/export/share/applications/com.usebottles.bottles.desktop
