<%- include('./views/partials/head') %>

    <div class="wrapper">

			<%- include('./views/partials/sidebar') %>

        <div id="body" class="active">
            <!-- navbar navigation component -->
						<%- include('./views/partials/navbar') %>
            <!-- end of navbar navigation -->

            <div class="content">
                <div class="container">

									<%- include('./views/partials/page-head') %>

                </div>
            </div>
        </div>
    </div>

<%- include('./views/partials/footer') %>
