[Desktop Entry]
Version=1.0
Type=Application
Name=Sistema Seguridad Web (SSW)
Comment=
Exec=thorium --no-sandbox --disable-gpu --incognito http://servicio.uneg.edu.ve/ssw/principal/login.php
Icon=uneg
Path=
Terminal=false
StartupNotify=true
X-XFCE-Source=file:///home/am/.local/share/applications/uneg/ssw.desktop
