[Desktop Entry]
Version=1.0
Type=Application
Name=Kamarakoto Proxmox
Comment=
Exec=thorium --no-sandbox --disable-gpu --incognito https://172.16.0.20:8006/
Icon=proxmox-240
Path=
Terminal=false
StartupNotify=false
