<%- include('./partials/head') %>

<div class="wrapper">

	<%- include('./partials/sidebar') %>

	<div id="body" class="active">
		<!-- navbar navigation component -->
		<%- include('./partials/navbar') %>
		<!-- end of navbar navigation -->

		<div class="content">
			<div class="container">

				<%- include('./partials/page-head') %>

				<div id="data" class="col-md-12 col-lg-12">
				</div>
			</div>
		</div>
	</div>
</div>

<script type="module" src="profesores.js"></script>

<%- include('./partials/footer') %>
