[Desktop Entry]
Version=1.0
Type=Application
Name=Neovide
Comment=Neovim GUI Editor
Exec=neovide
Icon=nvim
Path=
Terminal=false
StartupNotify=false
X-XFCE-Source=file:///home/am/.local/share/applications/neovide.desktop
