[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/am/Desktop/rally_3.mp3]
row=2
col=0

[/home/am/Desktop/hp7.desktop]
row=1
col=1

[/home/am/Desktop/hp8.desktop]
row=0
col=1

[/home/am/Desktop/rally_6.mp3]
row=0
col=2

[56DEC16FDEC14847]
row=1
col=0

[5b117f905b117f88]
row=2
col=1

[372fc620-2290-4a3d-9640-2966a2d9e6e4]
row=0
col=0

[/]
row=3
col=0

