[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/am/chr-7.11.2.img]
row=6
col=2

[/home/am/cedula.pdf]
row=7
col=4

[/home/am/manualReplicacionPG]
row=0
col=5

[/home/am/.emacs.d]
row=4
col=12

[/home/am/pictures]
row=4
col=1

[/home/am/.ssr]
row=8
col=12

[/home/am/.gtkrc-2.0]
row=8
col=14

[/home/am/compras.sql]
row=4
col=5

[/home/am/build.nginx.alpine.txt]
row=6
col=5

[/home/am/.fontconfig]
row=2
col=12

[/home/am/.fonts]
row=1
col=12

[/home/am/documents]
row=6
col=1

[/home/am/.bash_profile]
row=1
col=10

[/home/am/winbox.exe]
row=8
col=8

[/home/am/.local]
row=4
col=10

[/home/am/.fleet]
row=3
col=12

[/home/am/compras-sql]
row=4
col=6

[/home/am/.psql_history]
row=5
col=10

[/home/am/.java]
row=7
col=11

[/home/am/.dwm.log]
row=7
col=9

[/home/am/wapiti.campoma.saw.html]
row=4
col=7

[/home/am/.Xclients]
row=2
col=10

[/home/am/.pgpass]
row=1
col=16

[/home/am/.themes]
row=5
col=14

[/home/am/.pseint]
row=2
col=13

[/home/am/.wget-hsts]
row=3
col=17

[/home/am/.var]
row=7
col=16

[/home/am/DOTFILES]
row=2
col=1

[/home/am/dotfile]
row=3
col=4

[/home/am/.mongorc.js]
row=7
col=14

[/home/am/.android]
row=6
col=17

[/home/am/us-free-208041.protonvpn.udp.ovpn]
row=5
col=6

[/home/am/.cache]
row=5
col=11

[/home/am/cursos]
row=8
col=1

[/home/am/.moc]
row=7
col=10

[/home/am/El Libro Negro del Hacker-Contenido.doc]
row=2
col=6

[/home/am/.Xresources]
row=3
col=15

[/home/am/.audacity-data]
row=0
col=11

[/home/am/virmon]
row=7
col=8

[/home/am/.Xauthority]
row=1
col=17

[/home/am/Assassin's Creed Brotherhood]
row=7
col=7

[/home/am/wapiti.amuri.pregradoweb.html]
row=3
col=8

[/home/am/.Xdefaults]
row=6
col=11

[/home/am/games]
row=5
col=1

[/home/am/.vimrc]
row=4
col=15

[/home/am/.microemulator]
row=8
col=13

[/home/am/.makepkg.conf]
row=7
col=0

[/home/am/usb]
row=3
col=2

[/home/am/.xsession]
row=4
col=9

[/home/am/.bash_history]
row=8
col=16

[/home/am/VPN]
row=0
col=3

[/home/am/CV.pdf]
row=3
col=3

[/home/am/.i3]
row=5
col=9

[/home/am/.gimp-2.8]
row=1
col=1

[/home/am/.viminfo]
row=2
col=17

[/home/am/Captura de pantalla_2024-09-05_21-36-49.png]
row=0
col=6

[/home/am/pdf-el-libro-blanco-del-hacker-pablo-gutierrez-salazar_compress.pdf]
row=0
col=7

[/home/am/GNS3]
row=8
col=7

[/home/am/chr-7.8.img]
row=2
col=2

[/home/am/uni]
row=4
col=2

[/home/am/.rediscli_history]
row=7
col=15

[/home/am/.bashrc.old]
row=6
col=9

[/home/am/.xsession-errors]
row=2
col=11

[/home/am/Adrian Moreno - CV.pdf]
row=5
col=5

[/home/am/1.pdf]
row=6
col=0

[/home/am/.conky]
row=4
col=17

[/home/am/Telegram Desktop]
row=4
col=8

[/home/am/svrSession.sh]
row=0
col=4

[/home/am/.tmux.conf]
row=5
col=15

[/home/am/sshfs]
row=3
col=1

[/home/am/.bash_profile.bak]
row=2
col=9

[/home/am/Downloads]
row=8
col=2

[/home/am/.rnd]
row=6
col=15

[/home/am/Formato_Propuesta_de_Trabajo_de_Grado (3).doc]
row=8
col=4

[/home/am/.vscode]
row=1
col=14

[/home/am/wapiti.campoma.smd.html]
row=6
col=7

[/home/am/.compiz.autostart]
row=0
col=17

[/home/am/config-ucaima.uneg-20240229184641.xml]
row=0
col=9

[/home/am/.zshrc]
row=8
col=0

[/home/am/ARC_07362_2023.pdf]
row=4
col=3

[/home/am/.node_repl_history]
row=3
col=16

[/home/am/.vim]
row=3
col=14

[/home/am/blockchain.specs.txt]
row=3
col=6

[/home/am/.gnupg]
row=8
col=11

[/home/am/.xsession-errors.old]
row=5
col=16

[/home/am/.urxvt]
row=3
col=11

[/home/am/alpine-standard-3.20.3-x86.iso]
row=5
col=0

[/home/am/traffic_control.db]
row=8
col=6

[/home/am/.degit]
row=8
col=10

[/home/am/.dmrc]
row=0
col=10

[/home/am/.putty]
row=1
col=13

[/home/am/.dbshell]
row=1
col=15

[/home/am/.ssh]
row=0
col=13

[/home/am/.netrc]
row=4
col=16

[/home/am/txt]
row=5
col=2

[/home/am/Propuesta UNEG v1 - Zimbra.pdf]
row=6
col=3

[/home/am/dev]
row=7
col=1

[/home/am/.dmenurc]
row=3
col=10

[/home/am/pagoCursoAdrianMoreno.pdf]
row=3
col=5

[/home/am/speedtest]
row=1
col=4

[/home/am/mongoManual]
row=2
col=5

[/home/am/svrSessionTmux.sh]
row=8
col=3

[/home/am/VirtualBox VMs]
row=1
col=2

[/home/am/.eclipse]
row=5
col=12

[/home/am/ejercicios-pseint.pdf]
row=2
col=4

[/home/am/AnyDesk]
row=1
col=8

[/home/am/Formato_Propuesta_de_Trabajo_de_Grado (1).doc]
row=2
col=3

[/home/am/.gitconfig]
row=0
col=15

[/home/am/.lesshst]
row=4
col=11

[/home/am/.tmux]
row=4
col=14

[/home/am/ManualInstalacionKavacTresCapas.pdf]
row=6
col=6

[/home/am/mikrotik-chr.gns3a]
row=1
col=6

[/home/am/.nanorc]
row=1
col=3

[/home/am/.mozilla]
row=6
col=13

[/home/am/Hacking Etico by aletinte.zip]
row=2
col=7

[/home/am/.dwm]
row=6
col=12

[/home/am/tokens]
row=7
col=2

[/home/am/.xfwm]
row=0
col=14

[/home/am/wapiti.amuri.sase.html]
row=5
col=7

[/home/am/Captura de pantalla_2024-09-16_10-46-24.png]
row=1
col=5

[/home/am/.config]
row=6
col=10

[/home/am/.gnome]
row=0
col=12

[/home/am/.docker]
row=5
col=17

[/home/am/.phpls]
row=4
col=13

[/home/am/Propuesta Instalacion IPSPUNEG.pdf]
row=5
col=3

[/home/am/.bash_logout]
row=8
col=9

[/home/am/Samba+LDAP+PDC.pdf]
row=7
col=3

[/home/am/doc.docx]
row=1
col=9

[/home/am/.dotnet]
row=7
col=12

[/home/am/.python_history]
row=8
col=15

[/home/am/.profile]
row=0
col=16

[/home/am/Captura de pantalla_2024-09-05_21-37-24.png]
row=8
col=5

[/home/am/telegram-plugin-linux-amd64.so]
row=0
col=8

[/home/am/Curriculu CCNA v4.0 Exploration.rar]
row=1
col=7

[/home/am/traffic-api]
row=2
col=8

[/home/am/.npm]
row=5
col=13

[/home/am/.kube]
row=7
col=17

[/home/am/.icons]
row=0
col=1

[/home/am/compras]
row=0
col=2

[/home/am/.pki]
row=3
col=13

[/home/am/.xinitrc]
row=6
col=16

[/home/am/.mongodb]
row=7
col=13

[/home/am/.swt]
row=6
col=14

[/home/am/.pgadmin3]
row=2
col=16

[/home/am/Captura de pantalla_2024-09-05_21-31-23.png]
row=5
col=4

[/home/am/.bashrc]
row=2
col=15

[/home/am/configuration.php]
row=7
col=6

[/home/am/android-x86_64-9.0-r2.iso]
row=7
col=5

[/home/am/black.hack]
row=3
col=7

[/home/am/.vscode-oss]
row=2
col=14

[/home/am/doc.pdf]
row=4
col=4

[/home/am/nmap]
row=5
col=8

[/home/am/.dir_colors]
row=3
col=9

[/home/am/.anydesk]
row=1
col=11

[/home/am/grafana.yml]
row=6
col=4

[/home/am/tokenAmorcito]
row=6
col=8

[56DEC16FDEC14847]
row=1
col=0

[372fc620-2290-4a3d-9640-2966a2d9e6e4]
row=0
col=0

[Papelera]
row=2
col=0

[/]
row=3
col=0

[/home/am]
row=4
col=0

