[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/am/Desktop/rally_3.mp3]
row=2
col=0

[/home/am/Desktop/rally_8.mp3]
row=5
col=0

[/home/am/Desktop/rally_6.mp3]
row=4
col=0

[/]
row=3
col=0

