[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/am/Desktop/Need For Speed Most Wanted.desktop]
row=0
col=17

[56DEC16FDEC14847]
row=1
col=0

[372fc620-2290-4a3d-9640-2966a2d9e6e4]
row=0
col=0

[Papelera]
row=2
col=0

[/]
row=3
col=0

