<%- include('../layouts/header', {titulo: 'Usuario'}); %>

<div class="container">
	<div class="row mx-auto">
		<div class="col-6 mx-auto">
			<table class="table">
				<thead>
					<tr>
						<th scope="col">#</th>
						<th scope="col">Nombre</th>
						<th scope="col">Password</th>
						<th scope="col">Accion</th>
					</tr>
				</thead>
				<tbody>
					<% usuarios.forEach(usuarios) %>
					<tr>
						<th scope="row">1</th>
						<td>Mark</td>
						<td>Otto</td>
						<td>@mdo</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

</div>
<%- include('../layouts/footer'); %>