<nav id="sidebar" class="">
		<div class="sidebar-header">
				<img src="/assets/img/bootstraper-logo.png" alt="bootraper logo" class="app-logo">
		</div>
		<ul class="list-unstyled components text-secondary">
				<li>
						<a href="/"><i class="fas fa-home"></i> Home</a>
				</li>
				<li>
						<a id="item-profesores" href="/profesores/"><i class="fas fa-users"></i> Profesores</a>
				</li>
		</ul>
</nav>
