[Desktop Entry]
Encoding=UTF-8
Name=hp7
Comment=PlayOnLinux
Type=Application
Exec=flatpak run com.playonlinux.PlayOnLinux4 --run "hp7" %F
Icon=/home/am/.var/app/com.playonlinux.PlayOnLinux4/data/PlayOnLinux//icones/full_size/hp7
StartupWMClass=hp7.exe
Categories=
X-XFCE-Source=file:///home/am/Desktop/.hp7.desktop
